body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-color: #fff;
$secondary-color: #000000;
$link-color: #555252;
$hover-color: #b9b9b9;

.nav-item {
  font-size: 0.8em;
  font-weight: 700;
}

.logo {
  width: 200px;
}

.container-1 {
  background-image: url(/img/01.jpg);
  height: 100%;
  width: 100%;
  padding: 8em;
  background-repeat: no-repeat;
  background-size: cover;

  .arrow {
    width: 80px;
  }

  figure {
    text-align: center;
  }
}

.container-2 {
  background-image: url(/img/03.jpg);
  height: 100vh;
  width: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-3 {
  background-image: url(/img/02.gif);
  height: 100vh;
  width: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7em;
}

.container-4 {
  background-image: url(/img/04.jpg);
  height: 100vh;

  background-size: cover;
}

.footer {
  display: flex;

  height: 120px;

  background: $secondary-color;

  .spacex {
    color: $link-color;
    text-decoration: none;
    font-size: 0.7em;
  }

  .links {
    color: $primary-color;
    text-decoration: none;
    font-size: 0.7em;

    &:hover {
      color: $hover-color;
    }
  }
}

.content {
  padding: 10em;
  color: $primary-color;
}

.btn {
  margin-top: 3em;
}
